
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Umbrales</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <br>
      <br>
      <ion-row>
        <form (ngSubmit)="actualizarForm()">
          <ion-list lines="none" class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-col>
                <ion-label id="text" position="fixed">Temperatura</ion-label>
                <br>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-label id="minimos" position="fixed">Min.</ion-label>
                    <ion-input id="temp_min" type="text" value={{temp_min}}></ion-input>
                  </ion-col>
                  <ion-col>
                    <ion-label id="minimos" position="fixed">Max.</ion-label>
                    <ion-input id="temp_max" type="text" value={{temp_max}}></ion-input>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <ion-label id="text" position="fixed">Humedad</ion-label>
                <br>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-label id="minimos" position="fixed">Min.</ion-label>
                    <ion-input id="humedad_min" type="text" value={{humedad_min}}></ion-input>
                  </ion-col>
                  <ion-col>
                    <ion-label id="minimos" position="fixed">Max.</ion-label>
                    <ion-input id="humedad_max" type="text" value={{humedad_max}}></ion-input>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <ion-label id="text" position="fixed">Radiación</ion-label>
                <br>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-label id="minimos" position="fixed">Min.</ion-label>
                    <ion-input id="radiacion_uv_min" type="text" value={{radiacion_uv_min}}></ion-input>
                  </ion-col>
                  <ion-col>
                    <ion-label id="minimos" position="fixed">Max.</ion-label>
                    <ion-input id="radiacion_uv_max" type="text" value={{radiacion_uv_max}}></ion-input>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-list>
          <br>
          <button ion-button type="submit" block id="btnact">Nuevos Umbrales</button>
        </form>
      </ion-row>
      <br>
      <ion-row>
        
      </ion-row>
  
    </ion-grid>
  </div>

</ion-content>
