<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cultivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cultivo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-row class="ion-justify-content-center">
          <label id="variable">Reporte Personalizado</label>
        </ion-row>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickDay($event)" [ngStyle]="{'background-color': buttonColorday}">Día</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickWeek($event)" [ngStyle]="{'background-color': buttonColorweek}">Semana</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickMonth($event)" [ngStyle]="{'background-color': buttonColormonth}">Mes</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickYear($event)" [ngStyle]="{'background-color': buttonColoryear}">Año</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickTemp($event)" [ngStyle]="{'background-color': buttonColortemp}">Temperatura</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickHumidity($event)" [ngStyle]="{'background-color': buttonColorhum}">Humedad</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickRad($event)" [ngStyle]="{'background-color': buttonColorrad}">Radiación</button>
      </ion-col>
    </ion-row>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Información recogida del cultivo</ion-card-subtitle>
        <ion-card-subtitle>Promedio de los valores recogidos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #barChart></canvas>
      </ion-card-content>
    </ion-card>
    
    <br>

    <br>
    
    <!-- Tabla inicio -->
    <table>
      <tr>
        <th>Fecha</th>
        <th><ion-icon name="thermometer"></ion-icon></th>
        <th><ion-icon name="water"></ion-icon></th>
        <th><ion-icon name="sunny"></ion-icon></th>
      </tr>
      <tr *ngFor="let task of arrayreg">
        <td id="fecha">{{ task.w }}</td>
        <td>{{ task.x }}</td>
        <td>{{ task.y }}</td>
        <td>{{ task.z }}</td>
      </tr>
    </table>

    <!-- Tabla fin -->
    <br>

  </div>
</ion-content>