<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cultivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-tabs>
    <ion-tab-bar slot="top">
  
      <ion-tab-button tab="cult-activo">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Activos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cult-inactivo">
        <ion-icon name="remove-circle-outline"></ion-icon>
        <ion-label>Inactivos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>