<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte Personalizado {{cult_nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reporte Personalizado</ion-title>
    </ion-toolbar>
  </ion-header>
<br>
<br>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickTempHum($event)" [ngStyle]="{'background-color': buttonColortemp}"><ion-icon name="water"></ion-icon>  vs  <ion-icon name="thermometer"></ion-icon></button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickTempRad($event)" [ngStyle]="{'background-color': buttonColorhum}"><ion-icon name="thermometer"></ion-icon>  vs  <ion-icon name="sunny"></ion-icon></button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickHumRad($event)" [ngStyle]="{'background-color': buttonColorrad}"><ion-icon name="water"></ion-icon>  vs  <ion-icon name="sunny"></ion-icon></button>
      </ion-col>
    </ion-row>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Información recogida del cultivo</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #scatterChart></canvas>
      </ion-card-content>
    </ion-card>
    
    <br>

    <br>
    <br>

</ion-content>
