ion-menu-button {
    color: #00838f;
  }
  
  ion-toolbar ion-title{
    color: black;
    font-family: 'Rowdies', cursive;
    font-size: x-large;
  }

ion-content {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    //top: 10%;
    transform: translateY(10%);
  }
  
  button#btntiempo{
    color: white;
    background-color:#4f9a94;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: medium;
  }
  
  label#variable{
    font-family: 'Rowdies', cursive;
    font-size: x-large;
  }
  
  /* tabla inicio */
  tr #fecha {
    text-align: left;
  }
  table {
    width: 85%;
    margin: 0 auto; /* same as margin: 0 25%;  */
  }
  
  th {
    height: 50px;
  }
  
  th, td {
    padding: 10px;
  }
  tr:nth-child(odd) {background-color: #4f9a94;color: white;}
  tr:hover {background-color: #FAFAD2;color: black;}
  th {
    background-color: #00838f;
    color: white;
  }

  #text-sel{
    text-align: left;
    width: 95%;
    border-color: black;
    border-width: medium;
    border-radius: 25%;
  }