/* tabla inicio */
tr #fecha {
    text-align: left;
  }
  table {
    width: 85%;
    margin: 0 auto; /* same as margin: 0 25%;  */
  }
  
  th {
    height: 50px;
  }
  
  th, td {
    padding: 10px;
  }
  tr:nth-child(odd) {background-color: #4f9a94;color: white;}
  tr:hover {background-color: #FAFAD2;color: black;}
  th {
    background-color: #00838f;
    color: white;
  }


  .map-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  
  #menuButtons {
    position: absolute;
  bottom: 10px;
  width: 25%;
    padding: 10px;
    // z-index: 400;
  }
  
  .menuButtons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around; // or maybe space-between - check what fits for you
  }

  ion-list{
    background-color: white;
    opacity: 0.8;
  }