#btnest{
    color: white;
    background-color:#00838f;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: medium;
    align-self: flex-end;
  
  }
#btn{
  width:100%;
  background-color:transparent;
  text-align: start;
  font-size: medium;
}