<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Temperatura</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-icon name="thermometer"></ion-icon>
      </ion-col>
      <ion-col class="ion-justify-content-center">
        <ion-row>
          <label id="dato">VALOR</label>
        </ion-row>
        <br>
        <ion-row>
          <label id="variable">Temperatura</label>
        </ion-row>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickDia($event)">Día</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickSemana($event)">Semana</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickMes($event)">Mes</button>
      </ion-col>
      <ion-col>
        <button id="btntiempo" ion-button (click)="clickYear($event)">Año</button>
      </ion-col>
    </ion-row>


    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Información recogida del cultiva variable</ion-card-subtitle>
        <ion-card-title>Temperatura</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #barChart></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
