<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <br>
    <br>
    <ion-row>
      <form onsubmit="actualizarForm(event)">
        <ion-list lines="none" class="ion-no-margin ion-no-padding">
          <ion-row>
            <ion-label id="text" position="fixed">Nombre</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-row>
          <br>
          <ion-row>
            <ion-label id="text">Descripción</ion-label>
          </ion-row>
          <ion-row>
            <ion-textarea rows="6" cols="20" id="textarea"></ion-textarea>
          </ion-row>
        </ion-list>
        <br>
        <button ion-button type="submit" block id="btnact">Actualizar</button>
      </form>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-label position="fixed" id="text">Nodo:</ion-label>
      <ion-label position="fixed">{{variable}} VALOR</ion-label>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-label position="fixed" id="text">Sensores:</ion-label>
    </ion-row>
    <br>
    <ion-row>
      
    </ion-row>

  </ion-grid>

</ion-content>
