<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <br>
    <br>
    <ion-row>
      <form (ngSubmit)="actualizarForm()">
        <ion-list lines="none" class="ion-no-margin ion-no-padding">
          <ion-row>
            <ion-label id="text" position="fixed">Nombre</ion-label>
            <ion-input id="nombre_cul" type="text" value={{nombre_cultivo}}> </ion-input>
          </ion-row>
          <br>
          <ion-row>
            <ion-label id="text">Descripción</ion-label>
          </ion-row>
          <ion-row>
            <ion-textarea rows="6" cols="20" id="textarea" value={{descripcion}}></ion-textarea>
          </ion-row>
        </ion-list>
        <br>
        <button ion-button type="submit" block id="btnact">Actualizar</button>
      </form>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col>
        <ion-label id="text">Cultivo Cosechado:</ion-label>
      </ion-col>
      <ion-col>
        <ion-toggle name="to-cosechado" color="success" (ionChange)="cosechado($event)"></ion-toggle>
      </ion-col>
    </ion-row>
      
      
    <br>
    <br>
    <ion-row>
      <ion-label position="fixed" id="text">Nodo:</ion-label>
    </ion-row>
    <br>
    <ion-row>
      <table>
        <tr>
          <th>Código</th>
          <th>Bateria</th>
          <th>Estado</th>
        </tr>
        <tr *ngFor="let task of array">
          <td >{{ task.x }}</td>
          <td>{{ task.y }}</td>
          <td>{{ task.z }}</td>
        </tr>
      </table>
    </ion-row>
    <br>
    <br>

  </ion-grid>

</ion-content>