<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="12" sm-sm>
        <ion-item id="select">
          <ion-select [interfaceOptions]="customPopoverOptions" placeholder={{cult_nombre}} (ionChange)="selectCultivo($event)" interface="popover">
              <ion-select-option *ngFor="let task of cultivo" value={{task.id_cultivo}}>{{task.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-image">
  <ion-grid>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col size="2" size-sm>
        <div>
        </div>
      </ion-col>
      <ion-col id="box-variable" size="8" size-sm>
        <div id="box" class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <ion-icon name="thermometer"></ion-icon>
          </ion-row>
          <ion-row>
            <br>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <label id="dato"> {{temp}} </label>
          </ion-row>
          <ion-row>
            <br>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <label id="variable">Temperatura</label>
          </ion-row>
        </div>
        
      </ion-col>
      <ion-col size="2" size-sm>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col size="2" size-sm>
        <div>
        </div>
      </ion-col>
      <ion-col id="box-variable" size="8" size-sm>
        <div id="box" class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <ion-icon name="water"></ion-icon>
          </ion-row>
          <ion-row>
            <br>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <label id="dato2">{{hum}}</label>
          </ion-row>
          <ion-row>
            <br>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <label id="variable">Humedad</label>
          </ion-row>
        </div>
        
      </ion-col>
      <ion-col size="2" size-sm>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col size="2" size-sm>
        <div>
        </div>
      </ion-col>
      <ion-col id="box-variable" size="8" size-sm>
        <div id="box" class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <ion-icon name="sunny"></ion-icon>
          </ion-row>
          <ion-row>
            <br>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <label id="dato3">{{rad}}</label>
          </ion-row>
          <ion-row>
            <br>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <label id="variable">Radiación</label>
          </ion-row>
        </div>
        
      </ion-col>
      <ion-col size="2" size-sm>
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
