ion-menu-button {
    color: white;
}

ion-icon{
    color: #4f9a94;
    font-size: 100px;
    
}

ion-col#box-variable{
    background-color: transparentize($color: white, $amount: 0.15);
    align-content: center;
    align-items: center;
    text-align:center;
    
}

div#box{
    align-items: center;
}

ion-toolbar{
    background-color: #00838f;
    
}

ion-toolbar ion-title{
    color: white;
    font-family: 'Rowdies', cursive;
    font-size: x-large;
}

ion-content.bg-image{
    --background: url('src/assets/img/161.jpg') 0 0/100% 100% no-repeat;
}


label#dato, label#dato2, label#dato3{
    font-family: 'Rowdies', cursive;
    font-size: xxx-large;
}
label#variable{
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}



//select

#select2 {
    background-color: white;
}

#select,ion-item ion-select {
    /* Applies to the value and placeholder color */
    color: white;
    font-family: 'Rowdies', cursive;
    font-size: large;
  
    /* Set a different placeholder color */
    --placeholder-color: white;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;

  }

  .my-custom-interface .popover {
    background-color: white;
    --color: #971e49;
    --color-hover: #79193b;
  }
  

  .my-custom-interface .select-interface-option {
    color: red;
  }

  